<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <h2 class="mb-4">ログイン</h2>

    <%= form_with(model: resource, url: session_path(resource_name), local: true) do |f| %>

    
      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.submit "ログイン", class: "btn btn-primary w-100" %>

      <!-- app/views/devise/sessions/new.html.erb (ログインフォーム) -->
      <div class="form-group mt-3 text-center">
        <%= link_to "パスワードをお忘れですか？", new_user_password_path, class: "text-decoration-none" %>
      </div>
    <% end %>
  </div>
</div>
